body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

h2 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

button {
  background: green;
  color: white;
  border: none;
}